.wrapper{
  .logo_name{
    padding-top: 57px;
    text-align: center;

    .logo{
      width: 181px;
      height: 181px;
    }

    .name{
      margin-top: 36px;
      font-family: "News Cycle", serif;
      font-size: 36px;
      color: #D2CFCF;
    }
  }

  .buttons{
    display: flex;
    font-family: "Montserrat", serif;
    font-size: 36px;
    margin-top: 104px;
    justify-content: space-around;
    gap: 450px;

    .buy_ticket button{
      background-color: #86e7e1;
      border: #464C51 solid 1px;
      border-radius: 20px;
      color: #000000;
      width: 414px;
      height: 160px;
      text-align: center;
      font-size: 36px;
    }

    .buy_ticket button:hover{
      background-color: #936969;
    }

    .watch_online button{
      background-color: #de5454;
      border: #464C51 solid 1px;
      border-radius: 20px;
      color: #ffffff;
      width: 414px;
      height: 160px;
      text-align: center;
      font-size: 36px;
    }

    .watch_online button:hover{
      background-color: #936969;
    }
  }
}