.underButtonText {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  text-align: center;
  color: #ACACAC;
}

.line {
  margin-top: 5px;
  margin-bottom: 30px;
  border: 1.77334px solid #ACACAC;
  transform: rotate(0.08deg);
  width: 90%;
}

.littleLabel {
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  margin-left: 30px;
}

.cardNumber {
  align-self: flex-start;
}

.cardUnitedInfo {
  display: flex;
  gap: 70px;
  align-self: flex-start;

  .expirationDate {
  }

  .fieldBlock {
    width: 90%;
    background: #FCFCFC;
    border: 1px solid #979797;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #9E9E9E;
    padding: 14px 18px;
    margin-left: 30px;

    input {
      width: 100%;
    }
  }
}

.container {

  .title {
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
  }

  padding: 100px;

  ._2D_VfCL6PDramYdGNPlSSA {
    width: 200px !important;
    height: 100px !important;
  }

  .wrapperCard {

    .card {
      cursor: pointer;
      position: relative;
      margin-bottom: 20px;

      .mark {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 99;
      }

      &.selected {
        border-radius: 10px;
        box-shadow: 0 0 3px 3px #148c1c;
      }
    }
  }

  .btnBlock {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    .buttonSave {
      background-color: #D83D3D;
      border-radius: 10px;
      padding: 10px 50px;
      color: white;
      font-weight: 500;
      font-size: 19px;
      line-height: 23px;
    }
  }

}
