.seat {
  width: 30px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #3430E0;
  border-radius: 3px;
  cursor: pointer;

  &.free{
    pointer-events: none;
    background: #464C51;
  }
  &.active {
    background: #7168DF;
  }
}