.container {
  color: black;

  //padding: 100px;
  //max-width: 500px;
  margin: 0 auto;
  padding: 20px 100px;

  .backLink {
    cursor: pointer;
    margin-top: 70px;
    text-align: center;
    color: #873C3C;
    font-size: 40px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.signIn {
  .titleBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      align-items: center;
    }

    img {
      width: 100px;
    }
  }


  .fields {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 70px;

    .fieldBlock {
      width: 100%;

      .selects {
        color: #979797;

        display: flex;
        justify-content: space-between;
        gap: 30px;

        select {
          background: #FFFFFF;
          border: 1px solid #979797;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          border-radius: 10px;
          width: 33%;
          padding: 10px 15px;
          color: #979797;
          font-size: 16px;

        }
      }


      label {
        display: block;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
      }

      .field {
        width: 100%;
        background: #FCFCFC;
        border: 1px solid #979797;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #9E9E9E;
        padding: 14px 18px;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        li:last-child {
          color: #9D5252;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        li {
          position: relative;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;


          label {
            display: inline;
            font-weight: 400;
            font-size: 18px;
            line-height: 29px;
            user-select: none;
            margin-left: 40px;
          }

          .rememberMe {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            background: #FCFCFC;
            border: 1px solid #979797;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;


            &:checked ~ .checkmark {
              background-color: #55486C;
            }

            &:checked ~ .checkmark:after {
              display: block;

            }
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;

            background: #FCFCFC;
            border: 1px solid #979797;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            &:after {
              content: "";
              position: absolute;
              display: none;
            }
          }

          .checkmark:after {
            left: 8px;
            top: 4px;
            width: 7px;
            height: 12px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  .btnBlock {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    button {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      padding: 18px 0;
      color: white;
      background: #55486C;
      border: 1.5px solid #55486C;
      border-radius: 15px;
      &:hover{
        background: rgba(58, 36, 101, 0.74);
      }
    }

    p {
      margin-top: 10px;
      text-align: center;
    }

    span {
      color: #9D5252;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }


}
