.item {
  display: flex;
  text-align: center;
  .title {
    flex-wrap: wrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    img{
      cursor: pointer;
      border-radius: 6px;
    }
    p {
      cursor: pointer;
      margin-top: 20px;
      text-align: center;
    }
  }

  .timetable {
    margin: 0 15px;
    //flex-basis: 100px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;

    li {
      color: #EB6969;
      cursor: pointer;

      &.active{
        color: #F20C0C;
        font-weight: bold;
      }
    }
  }
}