.item {
  display: flex;

  .title {
    img{
      cursor: pointer;
      border-radius: 6px;
    }
    p {
      cursor: pointer;
      margin-top: 20px;
      text-align: center;
    }
  }

  .timetable {
    padding-left: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;

    li {
      color: #EB6969;
      cursor: pointer;

      &.active{
        color: #F20C0C;
        font-weight: bold;
      }
    }
  }
}