.content {
  padding-top: 70px;
  padding-left: 30px;

  .categoryName {
    padding-left: 2px;
  }

  .serial {
    gap: 15px;
    display: flex;
    justify-content: space-evenly;

    .seriesBlock {
      text-align: center;
      padding-top: 30px;

      img {
        width: 400px;
        height: 250px;
      }

      .name {
        margin-top: 10px;
      }
    }
  }
}