.content {
  padding-top: 70px;
  padding-left: 30px;

  .categoryName {
    padding-left: 2px;
  }

  .serial {
    gap: 15px;
    display: flex;
    justify-content: space-evenly;

    .seriesBlock {
      text-align: center;
      padding-top: 30px;
      cursor: pointer;
      width: 300px;
      margin-bottom: 20px;
      img {
        width: 300px;
        max-height: 400px;
      }

      .name {
        width: 300px;
        margin: 10px 0 0 0;
      }
    }
  }
}

.sliderDiv {
  width: 300px;
}