header {
  background-color: #2D2639;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;

  .leftSide {
    display: flex;
    align-items: center;
    gap: 30px;
    
    .burger{
      cursor: pointer;
    }
    
    .logo{
      margin-right: 40px;
    }

    .breadcrumbs {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }


  .rightSide {
    display: flex;
    align-items: center;
    gap: 15px;

    .chooseBtn {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }

    .divider {
      border-left: 1px solid #989595;
      opacity: 0.8;
      height: 60%;
    }

    .user {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}

