.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  z-index: 1;
}

.overlayOut {
  visibility: visible;
  opacity: 1;


  .drawer {
    transform: translateX(0);
  }
}


.drawer {
  position: absolute;
  width: 1012px;
  height: 100%;
  right: 0;
  top: 0;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: #1C1723;
  display: flex;


  .city {
    width: 375px;
    background-color: #2D2639;
    padding: 20px;
    overflow: auto;

    h2 {
      font-weight: 500;
      font-size: 32px;
      border-bottom: 2px solid white;
      padding-bottom: 10px;
    }


    ul {

      padding: 45px 15px 0;

      li {
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 45px;
        cursor: pointer;
        user-select: none;

        &:hover{
          color: rgba(194, 169, 169, 0.41);
        }

        &.active {
          color: #EA2A2A;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #303539;
      border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #606365;
      width: 3px;
      border-radius: 15px;
    }
  }

  .cinema {
    color: #000000;
    width: 637px;
    background-color: #FFFFFF;
    padding: 20px;
    overflow: auto;
    h2 {
      font-weight: 500;
      font-size: 32px;
      border-bottom: 2px solid black;
      padding-bottom: 10px;
    }

    ul {
      padding: 45px 15px 0;

      li {
        font-weight: 500;
        font-size: 24px;
        border-bottom: 1px solid #837777;
        margin-bottom: 35px;

        p:first-child{
          cursor: pointer;
          user-select: none;
        }
        
        p:last-child {
          padding-bottom: 37px;
          margin-top: 17px;
          font-size: 20px;
        }
      }
    }


    &::-webkit-scrollbar {
      width: 10px;
      background-color: #303539;
      border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #606365;
      width: 3px;
      border-radius: 15px;
    }
  }

}