.header {
  background-color: #2D2639;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  border-bottom: #ffffff solid 1px;
  //border-bottom: #E03E1A solid 1px;


  .leftSide {
    display: flex;
    align-items: center;
    gap: 30px;

    .burger {
      cursor: pointer;
    }

    .logo {
      margin-right: 40px;
    }

    .breadcrumbs {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    a {
      color: white;

      &:hover {
        color: #a10855;
        //color: #E03E1A;

      }
    }
  }


  .rightSide {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      font-size: 16px;
      color: white;
      background: #DE2121;
      border: 1px solid #464C51;
      border-radius: 10px;
      padding: 13px;
      width: 200px;

      &:hover {
        background-color: #a10855;
      }
    }

    .chooseBtn {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .divider {
      border-left: 1px solid #989595;
      opacity: 0.8;
      height: 60%;
    }

    .user {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      img{
        cursor: pointer;
      }

      span{
        cursor: pointer;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

