.wrapperBox {
  display: flex;
  flex-flow: column;
  gap: 50px;
  align-items: center;

  .subName {
    display: flex;
    width: 120px;
    height: 120px;
    background: #FF5858;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: red;
    }
  }
}