.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  //filter: blur(4px);
  //z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;

}

.overlayOut {
  visibility: visible;
  opacity: 1;


  .drawer {
    transform: translateX(0);
  }
}


.drawer {
  position: absolute;
  width: 395px;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: #1C1723;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;


    .title {
      font-family: 'News Cycle', sans-serif;
      font-weight: 400;
      font-size: 36px;
    }

    img {
      width: 100px;
    }

    button {
      color: white;
      background: #F01717;
      border: 1px solid #464C51;
      border-radius: 25px;
      padding: 20px;
      width: 80%;
    }
  }


  .menu {
    font-size: 28px;
    font-weight: 100;

    ul {
      display: flex;
      flex-direction: column;
      gap: 50px;
      font-weight: 500;
      li {
        //margin-bottom: 60px;

      }
    }
  }


  .bottom {
    .divider {
      border-top: 1px solid #FFFCFC;
      opacity: 0.8;
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
      margin-top: 40px;

      p {
        margin-top: 16px;
      }
    }


    .contacts {
      display: flex;
      flex-direction: column;
      gap: 20px;


      li {
        display: flex;
        align-items: center;
        justify-content: start;
        //margin-bottom: 40px;

        img {
          margin-right: 10px;
        }
      }

    }
  }

  .closeBtn {
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 25px;

  }

  @keyframes slide-right {
    0% {
      transform: translateX(395px);
    }
    100% {
      transform: translateX(0);
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #303539;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #606365;
    width: 3px;
    border-radius: 15px;
  }
}