.editForm {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;

  .closeCross {
    align-self: flex-end;
    padding-right: 15px;
    padding-top: 15px;
    cursor: pointer;
  }

  label {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    align-self: flex-start;
    margin-left: 20px;
  }

  .fieldBlock {
    width: 90%;
    background: #FCFCFC;
    border: 1px solid #979797;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #9E9E9E;
    padding: 14px 18px;

    input {
      width: 100%;
    }
  }

  .errorMsg {
    margin-top: 8px;
    color: #bf1650;

    &::before {
      display: inline;
      content: "⚠ ";
    }
  }

  .buttonSave {
    margin-top: 55px;
  }

  .bottomText {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #979797;
    margin-left: 25px;
  }

  .selects {
    color: #979797;

    display: flex;
    justify-content: space-between;
    gap: 30px;

    select {
      background: #FFFFFF;
      border: 1px solid #979797;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 10px;
      width: 33%;
      padding: 10px 15px;
      color: #979797;
      font-size: 16px;

    }
  }
}

.myForm {
  padding: 150px;
  color: black !important;

  .InputElement {
    border: 1px solid black !important;
  }

  .btnBlock{
    display: flex;
    justify-content: center;
  }
}

.cont {
  color: black;
  //display: flex;

}

.card {
  display: flex;
  color: black;

  .cardBody {
    margin-left: 10%;
    margin-right: 10%;
  }

  label {
    margin-left: 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    /* or 138% */

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #0A0D13;
  }

  .line {
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 5%;
    border: 1.77334px solid #ACACAC;
    transform: rotate(0.08deg);
    width: 90%;
  }

  .button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    text-align: center;
    color: white;
    margin-left: 32%;
    height: 55px;
    width: 35%;
    text-align: center;
    background: #D83D3D;
    border-radius: 10px;
    margin-top: 35px;
  }

  .underButtonText {
    margin-top: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    color: #ACACAC;
  }

  .cardNumber {
    margin-left: 40px;

    .cardNumberText {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 27px;
      line-height: 39px;
      /* or 144% */
      /* Text */
      color: #0A0D13;
    }

    .cardBody {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 39px;
      /* or 186% */


      /* Stroke */

      color: #ACACAC;
      border: 2.66001px solid #ACACAC;
      border-radius: 7.09336px;
    }
  }
}
